.popup__input-btn{
  width: 100%;
  padding: 14px 0 14px;
  background-color: #000;
  color: #fff;
  font-size: 1.125rem;
  line-height: normal;
  margin: 48px 0 0;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  transition: opacity 0.5s ease;
}
.popup__input-btn:hover{
  opacity: 0.8;
}

@media (max-width: 425px) {
  .popup__input-btn{
    margin: 45px 0 0;
    padding: 12px 0 12px;
  }
}
