.profile__edit-btn{
  box-sizing: border-box;
  position: relative;
  max-width: 24px;
  min-height: 24px;
  cursor: pointer;
}

.profile__edit-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
}

@media (max-width: 320px) {
  .profile__edit-btn{
    max-width: 18px;
    min-height: 18px;
  }
}
