.profile__info{
  box-sizing: border-box;
  display: grid;
  column-gap: 18px;
  row-gap: 8px;
  grid-template-columns: 294px 24px;
  align-items: center;
}

@media (max-width: 650px) {
  .profile__info{
    grid-template-columns: minmax(100px, max-content) 24px;
  }
}


@media (max-width: 375px) {
  .profile__info{
    grid-template-columns: 1fr 18px;
    grid-auto-columns: 1fr;
    column-gap: 10px;
    min-height: 54px;
  }
}
