.footer{
  max-width: 880px;
  margin: 0 auto;
}

.footer_margin-indent{
  margin: 66px auto 60px;
}
@media (max-width: 991px) {
  .footer{
    max-width: calc(100% - 19px * 2);
  }
}

@media (max-width: 425px) {
  .footer{
    margin: 48px auto 36px;
  }
}

